include base
title!= name

header.top
  h1.title!= name
  ul.links
    each link in links
      li: a(href=link.prefix + link.text) #{link.text}

blockquote!= tagline

h2 Experience

section.figure-grid
  each item in experience
    figure(class=item.visible ? '' : 'noprint')
      figcaption #{item.name}: #{item.role}
      .figure-content
        img.figure-img(style='background-image: url(' + item.image + ')')
        hr
        ul
          each text in item.content
            li!= text
